.book-details-container {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.book-thumbnail {
  width: 100%;
  height: auto;
  max-height: 80vh; /* максимальная высота для изображения */
  object-fit: contain; /* заполнение контейнера */
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.book-details-container h1 {
  font-size: 2.5rem;
}

.book-details-container p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .book-details-container {
    padding: 10px;
  }
  
  .book-details-container h1 {
    font-size: 2rem;
  }
}
